
#indexTitle{
    float: left;
    width: 100%;
    height: 12%;
    background-color: black;
}

#logo_div{
    float: left;
    position: relative;
    left: 20%;
    top: 18%;
}

#title_div{
    float: left;
    position: relative;
    left: 18%;
    top: 14%;
}

a{
    color: aliceblue;
    text-decoration:none;
    font-size: 10px;
}

#login_div{
    margin-top: 10px;
    padding: 0;
    float: left;
    position: relative;
    left: 45%;
    top: 0%;
}